<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
  <h1>Midterm Survey</h1>
  <form action="#" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <input type="checkbox" id="easy" name="checks[]" value="This midterm is easy">
    <label for="easy">This midterm is easy</label><br>
    <input type="checkbox" id="midterms" name="checks[]" value="I like midterms">
    <label for="midterms">I like midterms</label><br>
    <input type="checkbox" id="monday" name="checks[]" value="Today is Monday">
    <label for="monday">Today is Monday</label><br>
      <input type="submit" value="SUBMIT">
  </form>
</body>
</html>